div.heading-cloud{
    display: flex;
    background-image: url(../Invitations/Icons/cloud.svg);
    background-size: cover;

    top: -20%;

    width: 500px;
    height: 415px;

    position: absolute;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.cloud-container .center{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 720px;
}

div.heading-cloud h1{
    font-size: 32pt;
    margin-top: 100px;
}

div.heading-cloud h2{
    font-size: 64pt;
    margin-left: 80px;
}

div.center .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.content h3{
    margin-top: 1em;
}

.footer {
    position: absolute;
    bottom: 0;

    display: inline-flex;
    align-items: start;
    justify-content: center;

    height: 333.7px;
    width: 100%;
}

.footer .center {
    display: inline-flex;
    align-items: start;
    justify-content: space-between;

    width: 750px;
    height: 100%;
}

.footer .center .item:nth-child(odd){
    color: #FAF9ED;
}

.footer .center .item:nth-child(2){
    align-self: center;
    width: 360px;
    cursor: default;
}

.footer .center .item:nth-child(2) p{
    font-size: 14pt;
    text-align: center;
    color: #D17520;
}

.footer .item {
    font-family: adigiana;
    overflow-wrap: break-word;
    width: 160px;
    text-align: center;
    font-size: 20pt;
    cursor: pointer;
}

.footer .item img{
    margin-top: 10px;
    width: 100px;
}

@media screen and (max-width: 576px) {
    div.heading-cloud{
        width: 300px;
        height: 300px;
    }

    div.cloud-container .center{
        width: 100%;
        padding: 0 20px;
    }

    div.heading-cloud h1{
        font-size: 20pt;
        margin-top: 40px;
    }

    div.heading-cloud h2{
        font-size: 30pt;
    }

    div.center .content {
        margin-top: 75%;
    }

    p{
        font-family: ComicRelief;
        font-size: 10pt;
    }

    h3{
        font-size: 18pt;
    }

    .footer {    
        height: 200px;
        width: 100%;
    }
    
    .footer .center {
        display: inline-flex;
        align-items: start;
        justify-content: space-between;
    
        width: 95%;
        height: 100%;
    }
    
    .footer .center .item:nth-child(odd){
        color: #FAF9ED;
    }
    
    .footer .center .item:nth-child(2){
        align-self: center;
        width: 360px;
    }
    
    .footer .center .item:nth-child(2) p{
        font-size: 10pt;
        text-align: center;
        color: #D17520;
    }
    
    .footer .item {
        font-family: adigiana;
        overflow-wrap: break-word;
        width: 160px;
        text-align: center;
        font-size: 16pt;
    }
    
    .footer .item img{
        margin-top: 10px;
        width: 50px;
    }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1880px){
    .footer {
        height: calc(520px - 10vw);
    }
}