* {
    margin: 0;
}

a {
    text-decoration: none;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

div.main {
    width: auto;
    height: 100vh;
    background-image: url('../Background.svg');
    background-position: 53% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

div.cloud-container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60vh;
}

div.cloud-container .center{
    position: relative;
    height: 100%;
    width: 60%;
}

div.cloud {
    position: absolute;
    background-image: url(../Invitations/Icons/cloud.svg);
    background-size: cover;

    width: 500px;
    height: 500px;

    pointer-events: none;
    transition: all 0.2s;
}

div.cloud:hover{
    transform: scale(1.1);
}

div.cloud.lt{
    left: 0%;
    top: 0;
}

div.cloud.ru{
    right: 0%;
    bottom: 0%;
}


div.cloud h2{
    pointer-events: auto;
}

div.cloud .content {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24pt;

    padding-top: 0.5em;
    padding-left: 0.5em;
}

@media screen and (max-width: 576px) {
    div.main {
        background-position: 53% 50%;
    }

    div.cloud-container{
        height: 60vh;
    }

    div.cloud-container .center{
        width: 100%;
    }

    div.cloud{
        width: 300px;
        height: 300px;
    }

    h2{
        font-size: 64pt;
    }

    div.cloud.lt{
        top: 0;
        left: 0;
    }

    div.cloud.ru{
        bottom: 0;
        right: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
    div.cloud-container{
        height: 50vh;
    }
    
    div.cloud{
        width: 300px;
        height: 300px;
    }

    h2{
        font-size: 64pt;
    }

} 

@media screen and (min-width: 1800px) {
    div.cloud-container .center{
        width: 50%;
    }
}